inc/ServStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="SevenSkies" xmlns="SevenSkies" elementFormDefault="qualified">
<xs:element name="SevenSkies">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element name="Login" type="xs:integer"/>
	    <xs:element name="Char" type="xs:integer"/>
	    <xs:element name="World" type="xs:integer"/>
	    <xs:element name="LastUpdate" type="xs:string"/>
	  </xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>